body{
    background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: auto;
}
.logo{
    padding-top: 1rem;
}
span{
    font-size: 2rem;
    color: white;
}
img{
    vertical-align: middle;
}
